@tailwind base;
@tailwind components;
@tailwind utilities;

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
   
.no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }

.carousel {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  animation: scroll-horizontal 30s linear infinite;
}

.carousel-secondary {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  display: flex;
  justify-content: space-around;
  animation: scroll-horizontal 30s linear infinite;
  left: 100%
}

.carousel-secondary {
  animation: scroll-horizontal 30s linear infinite;
  animation-delay: 15s
}


@keyframes scroll-horizontal {
  0% {
    left: 100%
  }
  100% {
      left: -100%
  }
}

html {
  scroll-behavior: smooth;
}